<!doctype html>
<html ng-app>
    <head>
        <title>How Much To Pay</title>
        <link rel="stylesheet" href="common/css/app.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
    </head>
    
    <body>
        <!-- version 1.2 -->
        <h1>How Much To Pay (Web)</h1>
        <form ng-controller="HowMuchToPay">
            <div id="container">
                <span>
                    <label>Amount</label>
                    <input type="text" ng-model="investment.amount"></input>    
                </span>            

                <span>
                    <label>Fee</label>
                    <input type="text" ng-model="investment.fee"></input>
                </span>
                
                <span>
                    <button ng-click="calculate()">Calculate</button>
                </span>

                <span>
                    <label>To Pay</label>
                    <div ng-cloak>{{investment.toPay | number:2}}</div>
                    <!--input type="text" ng-model="investment.toPay"></input-->
                </span>
                
            </div>
        </form>

        <!-- add fork me on github -->
        <a href="https://github.com/morxs/HowMuchToPay-Web"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
        
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
        <script>
            function HowMuchToPay($scope, $filter) {
                // init
                $scope.investment = { amount: 0, fee: 0, toPay: 0 };

                $scope.investment.amount = $filter('number')($scope.investment.amount, 2);
                $scope.investment.fee = $filter('number')($scope.investment.fee, 2);

                $scope.calculate = function() {
                    $scope.investment.toPay = ($scope.investment.amount * 100)/(100 - $scope.investment.fee);
                    $scope.investment.amount = $filter('number')($scope.investment.amount, 2);
                    $scope.investment.fee = $filter('number')($scope.investment.fee, 2);
                }

                $scope.reformat = function() {
                    $scope.investment.amount = $filter('number')($scope.investment.amount, 2);
                    $scope.investment.fee = $filter('number')($scope.investment.fee, 2);
                }
            }
        </script>
    </body>
</html>